* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  background-color: #f4f2ee;
}

.application {
  height: 100vh;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  touch-action: manipulation;
}

button {
  background: none;
  border: none;
}

.global-nav {
  background: white;
  left: 0;
  padding: 0 21px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 105;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}

.global-nav-content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  width: 1128px;
}

.global-nav-items li span {
  font-size: 10.5px;
}
.linkedin-logo {
  height: 34px;
  width: 34px;
  display: block;
  margin-right: 5px;
}

.global-nav-search {
  opacity: 1;
  opacity: 1;
  flex-grow: 1;
  z-index: 105;
}

.search-global {
  position: relative;
  max-width: 280px;
  padding: 3px 9px;
  border-radius: 2px;
  background-color: #edf3f8;
}

.search-global-typeahead {
  display: block;
  width: 100%;
  z-index: 0;
}

.global-nav-search input {
  border: none;
  box-shadow: none;
  background-color: #edf3f8;
  border-radius: 3px;
  padding-left: 10px;
  width: max-content;
  font-size: 14px;
  height: 34px;
}

.global-nav-nav {
  margin-left: auto;
  min-height: 52px;
}
.global-nav-items {
  display: flex;
  opacity: 1;
}
.global-nav-primary-item {
  display: flex;
  align-items: center;
}
ul li a:hover,
ul li button:hover {
  color: black;
}

.global-nav-primary-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  min-height: 52px;
  min-width: 80px;
  position: relative;
  color: #717171;
}

.global-nav-primary-item-divider {
  border-left: 1px solid rgba(140, 140, 140, 0.2);
  padding: 0 10.5px;
}

.profile button {
  border-radius: 50%;
  border: none;
}
.profile img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.premium-link {
  text-decoration: underline;
  color: #91590b;
  max-width: 100px;
}

.authentication-outlet {
  padding-top: 52px;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.organization-outlet {
  position: relative;
  height: 100vh;
}

.scaffold-layout {
  height: 100vh;
  margin-bottom: 21px;
}
.scaffold-layout-container {
  height: 100vh;
  width: 1128px;
  margin-left: 88.5px;
  margin-right: 88.5px;
  margin-bottom: 21px;
}

.scaffold-layout-content {
  margin: 21px 0px;
  display: flex;
  justify-content: space-between;
  column-gap: 21px;
  justify-items: center;
  height: 100vh;
}

.scaffold-layout-content main {
  width: 100%;
}

.org-module-card {
  background: url(./imgs/notionhq_cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 38%;
  height: 134px;
}
.main-home,
.main-about,
.main-posts,
.main-life,
.main-insights {
  margin-bottom: 14px;
  height: fit-content;
}
.main-home-content {
  padding: 0 21px 21px 21px;
}

.scaffold-layout-main .org-img {
  background: url(./imgs/notionhq_logo.jpeg);
  background-size: cover;
  height: 128px;
  width: 128px;
  margin: 4px;
  transform: translateY(-60%);
  border-radius: 0;
}
.org-title {
  margin-top: -70px;
}
.org-title h1 {
  font-weight: 600;
}
.org-tagline {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.org-subtitle {
  display: flex;
  color: rgb(0, 0, 0, 0.6);
  line-height: 21px;
}
.subtitle-link {
  font-weight: 600;
}
.employees-link:hover {
  color: #0a66c2;
  text-decoration: underline #8443ce;
}
.break-point::before {
  content: "\00B7\0020\0020\0020"; /* need to understand the valeu*/
  margin: 0 3.5px 0 3.5px;
}

.followers-and-customers {
  margin: 14px 0 3.5px 0;
  display: flex;
}
.followers-and-customers a:hover,
.followers-and-customers button:hover {
  text-decoration: underline;
  color: #0a66c2;
}
.followers-link {
  margin-right: 21px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
}
.followers-link img {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 7px;
}
.featured-customers {
  margin-right: 21px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.featured-customers img {
  height: 28px;
  width: 28px;
  margin-right: 7px;
}

.org-actions {
  display: inline-block;
  padding-top: 10.5px;
}

.org-follow,
.org-message {
  font-weight: 600;
  font-size: 14px;
  border-radius: 14px;
  padding: 5.25px 14px;
  margin-top: 3.5px;
  margin-left: 7px;
  min-width: 135px;
  cursor: pointer;
}
.org-follow {
  color: white;
  background-color: #0a66c2;
}
.org-follow:hover {
  background-color: #004182;
  transition-duration: 167ms;
}
.org-message {
  background-color: white;
  color: #0a66c2;
  border: 1px solid #0a66c2;
}
.org-message:hover {
  background-color: #e2f0fd;
  transition-duration: 167ms;
  box-shadow: inset 0 0 0 1px #0a66c2;
}
.org-more {
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid;
  border-radius: 50%;
  margin-left: 3.5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.org-more:hover {
  background-color: #ebebeb;
  transition-duration: 167ms;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
}

.org-tabs {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.org-tabs ul {
  display: flex;
  list-style: none;
  padding: 1px 0 1px 3.5px;
}
.tab-link {
  font-size: 14px;
  font-weight: 600;
  padding: 10.5px 14px;
  color: #00000099;
  padding-bottom: 6px;
}
.active-tab {
  color: #017550;
  border-bottom: 2px solid #017550;
}
.main-about {
  padding: 21px 0 0 0;
}
.main-about h2 {
  padding: 0 21px;
}
.org-description {
  margin-top: 14px;
  padding: 0 21px 14px;
}
.contact-and-funding {
  display: flex;
  padding: 0 14px 21px 14px;
  gap: 14px;
}

.org-contact,
.org-funding {
  box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
  width: 50%;
  padding: 7px;
  color: #717171;
  font-size: 10.5px;
}

.org-contact a {
  font-size: 12.5px;
  color: #0a66c2;
  font-weight: 600;
}
.org-contact a:hover,
.org-funding a:hover {
  text-decoration: underline;
}
.org-funding a {
  font-size: 12.5px;
}
.org-value {
  font-size: 12.5px;
  font-weight: 600;
  color: black;
}

.main-show-all {
  height: 46.5px;
  background-color: white;
  padding-top: 14px;
  text-align: center;
  border-top: 1px solid rgba(140, 140, 140, 0.2);
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.main-show-all a {
  color: #717171;
  font-size: 14px;
  font-weight: 600;
}
.main-show-all:hover {
  background-color: #ebebeb;
  transition-duration: 167ms;
}

.posts-title,
.life-title {
  margin: 0 21px;
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17.5px;
}
.slide-left-btn,
.slide-right-btn {
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid;
  border-radius: 50%;
  margin-left: 3.5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.slide-left-btn:hover,
.slide-right-btn:hover {
  background-color: #ebebeb;
  transition-duration: 167ms;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
}

.posts-content {
  padding: 3.5px 0 0 0;
}
.posts-list {
  padding-left: 14px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 21px;
}
.slides {
  display: flex;
  justify-content: center;
}
.fixing-post {
  padding-top: 5px;
  height: 315px;
}
.single-post {
  box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
  width: 45%;
  font-size: 10.5px;
  border-radius: 8px;
  margin-bottom: 7px;
  margin-right: 14px;
}
.single-post-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
}

.post-section-org {
  display: flex;
}
.post-org-details {
  margin-top: 7px;
  padding-left: 7px;
}
.post-org-details a h4:hover {
  color: #0a66c2;
  text-decoration: underline;
}
.post-org-details a p {
  font-size: 10.5px;
  color: #717171;
}
.post-org-logo a img {
  width: 40px;
  height: 40px;
}
.post-actions-btn {
  color: #717171;
  border-radius: 50%;
  margin-left: 3.5px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.post-actions-btn:hover {
  color: #717171;
  background-color: #ebebeb;
  transition-duration: 167ms;
  box-shadow: inset rgba(0, 0, 0, 0.75);
}

.single-post-content {
  padding: 7px 14px;
  margin-top: 7px;
  margin-right: 7px;
}
.post-article {
  font-size: 12.5px;
}
.post-see-more {
  float: right;
  color: #717171;
}
.post-see-more:hover {
  color: #0a66c2;
  text-decoration: underline;
}
.single-post img {
  width: 100%;
  margin-top: 7px;
  margin-bottom: -2px;
}

.post-link {
  padding: 8px 14px;
  background-color: #edf3f8;
}

.post-link a p {
  font-size: 12.5px;
  font-weight: 600;
  margin-bottom: 7px;
}
.post-link a span {
  font-size: 10.5px;
  color: #717171;
}
.post-reactions {
  padding: 7px 7px;
  margin: 7px 7px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
.post-reactions a {
  color: #717171;
}
.post-reactions a:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.like-reaction {
  color: #378fe9;
}
.funny-reaction {
  color: #44bfd3;
  margin-left: -4px;
}
.love-reaction {
  color: #df704d;
  margin-left: -5px;
}

.post-interactions ul {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 8.5px 7px;
  text-align: center;
  color: #717171;
}
.post-interactions ul li p {
  padding: 8.5px 7px;
}
.post-interactions ul li:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: #ebebeb;
  transition-duration: 167ms;
  box-shadow: inset rgba(0, 0, 0, 0.75);
}

.highlights-container {
  display: flex;
  justify-content: space-between;
  padding: 0 21px 21px 21px;
}
.highlight-photo1 img {
  width: 248px;

  height: 170px;
  background-position: 50%;
}
.highlight-photo2 img {
  width: 248px;
  height: 170px;
  margin-left: 10.5px;
}
.highlight-group {
  display: flexbox;
  width: 100%;
  margin-left: 10.5px;
}
.highlight-group1,
.highlight-group2 {
  display: flex;
}
.highlight-group2 {
  margin-top: 10.5px;
}
.highlight-group img {
  width: 118.75px;
  height: 79px;
}

.highligh-group-top-right,
.highligh-group-bottom-right {
  margin-left: 10.5px;
}
.highligh-group-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(140, 140, 140, 0.2);
  width: 118px;
  font-size: small;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.insights-container {
  margin: 10.5px 0;
  padding: 0 21px 21px 21px;
}
.insights-title {
  padding: 16px 3px;
  font-weight: 600;
}
.insights-premium i {
  color: #e7a33e;
  margin-right: -3px;
}
.insights-premium {
  letter-spacing: 2px;
  font-size: 9px;
}
.insights-premium:hover {
  cursor: default;
}

.insights-notion {
  font-size: 17.5px;
}
.insights-notion i {
  color: #717171;
  margin-left: 7px;
}

.insights-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(140 140 140/0.2);
}

.recent-hiers-title {
  font-weight: 600;
  margin-bottom: 3.5px;
}
.recent-hiers-details {
  font-size: 12.5px;
  color: #00000099;
  margin-bottom: 3.5px;
}
.recent-hiers-avatars {
  list-style: none;
  display: flex;
  margin-bottom: -4px;
}
.recent-hiers-avatars img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 3.5px;
}
.recent-hiers-avatars li div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(140, 140, 140, 0.2);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.headcount-growth {
  padding-left: 80px;
}
.headcount-percentage span {
  font-size: 21px;
}
.headcount-percentage i {
  color: green;
}
.headcount-growth p {
  font-size: 12.5px;
}
.headcount-growth p:last-child {
  color: #00000099;
}

.median-tenure {
  padding-right: 60px;
}
.median-tenure i {
  color: #00000099;
}
.median-tenure span {
  font-size: 21px;
}
.median-tenure p:last-child {
  font-size: 12.5px;
  color: #000000e6;
}

.unlock-insights {
  display: flex;
  justify-content: space-between;
  padding: 14px 21px;
}
.unlock-inshights-title {
  font-size: 17.5px;
}
.unlock-inshights-details {
  font-size: 12.5px;
  color: #00000099;
}
.unlock-inshights-premium {
  color: #000000e6;
  background-color: #f9c982;

  border-radius: 16px;
  padding: 5.25px 14px;
  font-weight: 600;
}
.unlock-inshights-premium:hover {
  background-color: #e9a540;
  transition-duration: 167ms;
}

.scaffold-layout-aside div,
.scaffold-layout-main div {
  background-color: white;
  border-radius: 8px;
}

.aside-main {
  width: 300px;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid rgba(140, 140, 140, 0.2);
}

.aside-main-ad {
  font-size: 12px;
  text-align: right;
  display: flex;
  float: right;
}
.ad-btn {
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
}

.aside-main-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aside-main-content .profile-img {
  margin-right: 16px;
  border-radius: 50%;
}

.aside-main-content-h2 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  max-height: 60px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}
.company-name {
  font-weight: 600;
}
.aside-main-content-see-jobs {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 12px;
}
.aside-main-content-see-jobs .see-jobs {
  border-radius: 16px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  height: 32px;
  width: 95px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.aside-section {
  padding: 14px;
}

.aside-section-title {
  font-size: 17.5px;
  font-weight: 600;
}

.aside-section-tagline {
  font-size: 10.5px;
  color: rgba(0, 0, 0, 0.6);
}

.aside-section-org {
  display: flex;
  padding: 14px 0;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}

.aside-section-org:last-child {
  border-bottom: none;
}
.aside-org-logo a img {
  width: 48px;
  height: 48px;
}
.aside-org-details {
  padding-left: 7px;
}
.aside-org-details a h4:hover {
  text-decoration: underline;
}

.aside-section-subtitle {
  font-size: 10.5px;
  margin: 3px 0;
}
.aside-avatar {
  color: #717171;
  font-size: 10.5px;
  margin: 3px 0;
  display: flex;
  margin-top: 7px;
}
.aside-avatar:hover {
  color: #166cc4;
}
.aside-avatar a {
  display: flex;
  font-weight: 600;
}
.aside-avatar a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 4px;
}
.aside-show-all {
  background-color: white;
  padding: 14px 0;
  text-align: center;
  margin-top: -6px;
  margin-bottom: 14px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid rgba(140, 140, 140, 0.2);
  cursor: pointer;
}
.aside-show-all:hover {
  background-color: #ebebeb;
  transition-duration: 167ms;
}
.aside-show-all button {
  color: #717171;
  font-size: 14px;
  font-weight: 600;
}

.followers-subtitle {
  color: rgb(0, 0, 0, 0.6);
  font-size: 10.5px;
  font-weight: 400;
  margin-top: 7px;
}

.follow-page {
  margin-top: 10.5px;
  border-radius: 16px;
  color: rgb(0, 0, 0, 0.6);
  border: 1px solid rgb(0, 0, 0, 0.6);
  padding: 5.25px 14px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.follow-page:hover {
  background-color: #ebebeb;
  transition-duration: 167ms;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75);
}
